.menu {

    .sub-menu {
    
        @apply .absolute .list-reset .w-64 .border .px-4 .pt-4 .rounded .bg-white .shadow;
        margin-left: -12.8rem;
        margin-top: 1.3rem;

        .menu-item {
            @apply .mb-3;
    
            // &:last-child {
            //     @apply .border-0 ;
            // }

            > a {
               @apply .no-underline .text-grey-darker .font-semibold .transition .tracking-normal;
               line-height: 24px; 

               &:hover {
                   @apply .text-coral .transition;
               }
            }
        }
    
        &:before {
            content: "";
            position: absolute;
            display: block;
            bottom: calc(100% + 1px);
            right: 15px;
            border: 5px solid rgba(0,0,0,0);
            border-bottom-color: transparent;
            margin-left: 0;
        }
    
        &:after {
            content: "";
            position: absolute;
            display: block;
            bottom: 100%;
            right: 15px;
            border: 5px solid rgba(0,0,0,0);
            border-bottom-color: transparent;
            margin-left: 0;
            width: 290px;
        }
    }

    // li:hover > .sub-menu {
    //     @apply .block;
    // }
}