<div class="bg-white pt-16 ">
  <div class="flex">
    <div class="w-2/5 bg-grey-light ml-32 bg-white">
      <h1 class="mb-16 w-64 text-grey-darker">Hai, Ayo buat akun kamu!</h1>

      <form class="form" [formGroup]="form" (ngSubmit)="form.valid && registerUser()">
        <div class="mb-6 w-115">
          <div class="mb-4">
            <label for="nama" class="">Nama Lengkap:</label>
          </div>
          <input 
          formControlName="name" 
          [ngClass]="{'border-red' : form.get('name').touched && form.get('name').invalid}" 
          name="name" class="bg-white appearance-none border border-grey-light rounded w-full py-4 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-coral" type="text" value="" placeholder="Nama lengkap" required>
          <div *ngIf="form.get('name').touched && form.get('name').invalid" class="invalid-feedback text-red">
              <div *ngIf="form.get('name').errors.required" class="mt-1">Email haurs diisi</div>
              <div *ngIf="form.get('name').errors.minlength" class="mt-1">Min 3 karakter</div>
            </div>
        </div>
        <div class="mb-6 w-115">
          <div class="mb-4">
            <label for="email" class="">Email:</label>
          </div>
          <input 
          formControlName="email" 
          [ngClass]="{'border-red' : form.get('email').touched && form.get('email').invalid}" 
          name="email" class="bg-white appearance-none border border-grey-light rounded w-full py-4 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-coral" type="email" value="" placeholder="you@example.com" required>
          <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback text-red">
            <div *ngIf="form.get('email').errors.required" class="mt-1">Email haurs diisi</div>
            <div *ngIf="form.get('email').errors.pattern" class="mt-1">Email Format salah</div>
          </div>
        </div>
        <div class="mb-6 w-115">
          <div class="mb-4">
            <label for="phone_number" class="">No. Telepon:</label>
          </div>
          <input 
          formControlName="phone_number" 
          [ngClass]="{'border-red' : form.get('phone_number').touched && form.get('phone_number').invalid}" 
          name="phone_number" class="bg-white appearance-none border border-grey-light rounded w-full py-4 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-coral" type="text" value="" placeholder="Nomor telepon" required>
          <div *ngIf="form.get('phone_number').touched && form.get('phone_number').invalid" class="invalid-feedback text-red">
              <div *ngIf="form.get('phone_number').errors.required" class="mt-1">No Telepon harus diisi</div>
            <div *ngIf="form.get('phone_number').errors.maxlength" class="mt-1">Max 15 Digit</div>
            <div *ngIf="form.get('phone_number').errors.pattern" class="mt-1">Format Nomor tidak di izinkan</div>
          </div>
        </div>
        <div class="mb-8 w-115">
          <div class="mb-4">
            <label for="password" class="">Password:</label>
          </div>
          <input 
          formControlName="password" 
          [ngClass]="{'border-red' : form.get('password').touched && form.get('password').invalid}" 
          name="password" class="bg-white appearance-none border border-grey-light rounded w-full py-4 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-coral" type="password" value="" placeholder="**********" required>
          <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback text-red">
            <div *ngIf="form.get('password').errors.required" class="mt-1">Password harus diisi</div>
            <div *ngIf="form.get('password').errors.minlength" class="mt-1">Password kurang dari 6 karakter</div>
          </div>
        </div>
        <div class="mb-12 w-115">
          <button type="submit"
          [attr.disabled]="isLoading ? '' : null"
          [ngClass]="{
            'relative': true,
            'btn-auth': true,
            'disabled': isLoading
          }"
          class="focus:outline-none"
          >
              <i class="fas fa-circle-notch fa-spin absolute" style="left:20px;" *ngIf="isLoading"></i>
            Daftar
          </button>
        </div>

        <div class="w-115">
          <span>Sudah punya akun? <a routerLink="/masuk" class="text-coral">Login Sekarang</a></span>
        </div>

      </form>
    </div>
    <div class="w-3/5 bg-grey-dark h-screen" style="background:url('https://sharinghappiness.org/files/img-register.png');background-repeat: no-repeat;background-size: cover;">
    </div>
  </div>
</div>